.Ledger {
	margin-top: 20px;

	h1 {
		text-align: center;
		font-size: 1.25rem;
	}

	h2 {
		text-align: center;
		font-size: 1rem;
		color: #1890ff;
	}

	.transactions {
		width: 75%;
		margin: 0 auto;
		.line-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #1890ff;
			margin: 10px 0;
			padding: 2%;
			height: 70px;

			&:last-child {
				border: 0;
			}

			.field {
				width: 25%;
				&:nth-child(2) {
					text-align: center;
				}
			}
		}
		.receiver {
			color: green;
			text-align: right;
		}

		.sender {
			color: red;
			text-align: right;
		}
	}
}
